.laypage_main a, .laypage_main input, .laypage_main span {
    height: 26px;
    line-height: 26px;
}
.laypage_main button, .laypage_main input, .laypageskin_default a {
    background-color: #fff;
    border: 1px solid #ccc;
}
.laypage_main {
    clear: both;
    color: #666;
    font-size: 0;
}
.laypage_main * {
    display: inline-block;
    font-size: 12px;
    vertical-align: top;
}
.laypage_main a {
    color: #666;
    text-decoration: none;
}
.laypage_main a, .laypage_main span {
    margin: 0 3px 6px;
    padding: 0 10px;
}
.laypage_main input {
    margin: 0 5px;
    padding: 0 5px;
    width: 40px;
}
.laypage_main button {
    color: #666;
    height: 28px;
    line-height: 28px;
    margin-left: 5px;
    padding: 0 10px;
}
.laypageskin_default span {
    color: #999;
    height: 28px;
    line-height: 28px;
}
.laypageskin_default .laypage_curr {
    color: #666;
    font-weight: 700;
}
.laypageskin_molv a, .laypageskin_molv span {
    border-radius: 2px;
    padding: 0 12px;
}
.laypageskin_molv a {
    background-color: #f1eff0;
}
.laypageskin_molv .laypage_curr {
    background-color: #00aa91;
    color: #fff;
}
.laypageskin_molv input {
    height: 24px;
    line-height: 24px;
}
.laypageskin_molv button {
    height: 26px;
    line-height: 26px;
}
.laypageskin_yahei {
    color: #333;
}
.laypageskin_yahei a, .laypageskin_yahei span {
    border-radius: 2px;
    color: #333;
    padding: 0 13px;
}
.laypageskin_yahei .laypage_curr {
    background-color: #333;
    color: #fff;
}
.laypageskin_flow {
    text-align: center;
}
.laypageskin_flow .page_nomore {
    color: #999;
}
